@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=PT+Sans:wght@700&display=swap');

// Variables ——————————————————————————————

$app-max-width: 1920px;
$public-padding: 0 4vw;
$color-black: #000;
$color-white: #fff;
$color-light-gray: #ccc;
$gradient: linear-gradient(to top, #30cfd0 0%, #330867 100%);
$font-family-primary: 'Nunito', sans-serif;
$font-family-secondary: 'PT Sans', sans-serif;

// Mixins ——————————————————————————————

@mixin text-title($color: $color-black) {
  color: $color;
  font-family: $font-family-secondary;
  font-size: 30px;
}

@mixin text-nav($color: $color-black) {
  color: $color;
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: 600;
}

@mixin text-h1($color: $color-black) {
  color: $color;
  font-family: $font-family-secondary;
  font-size: 50px;
}

@mixin text-body($color: $color-black) {
  color: $color;
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 2em;
}

// Global ——————————————————————————————

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

// Nested selectors ——————————————————————————————

html {
  height: 100%;

  body {
    height: 100%;
    background-color: $color-light-gray;

    #root {
      height: 100%;

      .div-app-container {
        height: 100%;

        .div-public-container {
          position: relative;
          height: 100%;
          max-width: $app-max-width;
          margin: 0 auto;
          background-color: $color-white;

          // Public Navigation ——————————————————————————————

          .nav-public {
            position: absolute;
            width: 100%;
            padding: $public-padding;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;

            a {
              @include text-title($color-white);
            }

            ul {
              display: grid;
              grid-template-columns: repeat(4, auto);
              gap: 3vw;
              justify-items: end;
              align-items: center;

              li {
                list-style-type: none;

                a {
                  @include text-nav($color-white);
                }
              }
            }
          }

          // Welcome ——————————————————————————————

          .div-welcome-header {
            height: 800px;
            padding: 0 10vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: $gradient;

            h1 {
              @include text-h1($color-white);
              padding-bottom: 20px;
              text-align: center;
            }

            p {
              @include text-body($color-white);
            }
          }
        }

        // Dashboard ——————————————————————————————

        .div-dashboard {
          top: 20px;
          bottom: 20px;
          width: 100%;
          position: absolute;
          background-color: $color-white;
        }
      }
    }
  }
}
